/* Medida mobile 375px segun proyecto */
@media screen and (max-width: 768px) {
    /* start header  */ 
    
    header {
            padding: 2rem 1rem;
     }
        .menu__2{
            display: none;
        }
        .menu__2--btn{
            display: none;
        }
        .header__nav{
            display: flex;
        justify-content: space-between;
    }
    nav#botoneraMovil{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: -100%;
        right: 1;
        transition: left .5s;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: hsl(255, 11%, 22%);
        font-weight: 700;
        color: white;
        text-align: center;
        line-height: 2.5rem;
    }
    .menu__list__item button{
        background: var(--color-primary);
        color: var(--color-neutral-100);
        border-radius: 10rem;
        border: none;
        width: 30%;
        height: 2rem;
    }
    hr{
        margin: 0 1rem;
    }
    
    input#botonMovil{
        display: none;
    }
    label#labelMovil span{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 2rem;
        right: 1rem;
        background: url(../images/menu-line1.png) no-repeat;
    }
    label#labelMovil span:hover{
        background: url(../images/menu-line2.png) no-repeat;
    }
    input#botonMovil:checked ~ nav#botoneraMovil{
        padding-top: 1.5rem;
        line-height: 5rem;
        width: auto;
        height: calc(100% - 25rem);
        /* bottom: 29rem; */
        left: 2rem;
        top: 4rem;
        right: 2rem;
        
    }
    /* end header */
    /* star main */
    .main__1{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .contenido__1 h1{
            font-weight: 700 ;
            font-size: 3rem ;
            margin: 1.5rem;
            color: var(--color-neutral-500);
    }
    .contenido__1 p{
        color: var(--color-neutral-300);
        margin: 1rem 2rem 2.5rem  2rem;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .get__started{
        border-radius: 2rem ;
        color: #fff;
        background: hsl(180, 66%, 49%);
        border:1px solid hsl(180, 66%, 49%);
        box-sizing: border-box;
        max-width: 20rem;
        height: 3.5rem;
        font-size: 22px;
        font-weight: 700;
    }
    .get__started:hover{
        opacity: .5;
    }
    .imagen__1 img{
        min-width: 100px;
        max-width: 100vw;
       margin-bottom: 2rem;
    }
    .imagen__1{
        overflow: hidden;
    }
    .imagen__1 img{
        min-width: 557px;
        padding-left: 2rem;
    }

   /*  end main */
    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }

    .footer__logo {
        padding: 1rem 0;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    .footer__links ul {
        align-items: center;
    }
    
    /* end footer */
}