:root {
    /* color primario cyan hsl(180, 66%, 49%) */
    --color-primary: hsl(180, 66%, 49%);
    /* color primerio Dark Violet: hsl(257, 27%, 26%) */
    --color-primary-dark: hsl(257, 27%, 26%);
    /* color secundario Red: hsl(0, 87%, 67%) */
    --color-secondary: hsl(0, 87%, 67%);
    /* Colores neutrales Gray: hsl(0, 0%, 75%), Grayish Violet: hsl(257, 7%, 63%), Very Dark Blue: hsl(255, 11%, 22%), Dark Violet: hsl(260, 8%, 14%) */
    --color-neutral-100: hsl(0, 0%, 100%);
    --color-neutral-300: hsl(257, 7%, 63%);
    --color-neutral-400: hsl(255, 11%, 22%);
    --color-neutral-500: hsl(260, 8%, 14%);
}

body {
    font-family: 'Poppins', sans-serif;
}